# usage: pip install -r requirements.txt
torch
torchvision
opencv-python
matplotlib
kornia
einops
transforms3d
h5py
kornia_moons
yacs
gdown>=5.1.0
tables
imageio
vispy
pyglet==1.5.28
tensorboard
scipy
trimesh
e2cnn
scikit-learn
scikit-image
tqdm
py3_wget
roma
loguru
timm
omegaconf
poselib
lightning==2.0.0 # from EDM
pytorch-lightning==1.4.9  # MatchAnything dependency
pynvml  # used by MatchAnything lightning wrapper
torchmetrics==0.6.0  # lightning 1.4.9 compatibility
pydantic==1.10.14  # lightning 1.4.9 / wandb compatibility
wandb==0.15.12  # lightning 1.4.9 compatibility
