# usage: pip install -r requirements.txt
torch
torchvision
opencv-python
matplotlib
kornia
einops
transforms3d
h5py
kornia_moons
yacs
gdown>=5.1.0
tables
imageio
vispy
pyglet==1.5.28
tensorboard
scipy
trimesh
e2cnn
scikit-learn
scikit-image
tqdm
py3_wget
roma
loguru
timm
omegaconf
