# usage: pip install -r requirements.txt
torch
torchvision
opencv-python
matplotlib
kornia
einops
transforms3d
kornia_moons
yacs
gdown>=5.1.0
huggingface_hub>=0.34.0,<1.0  # <1.0 required by transformers (used by eloftr)
safetensors
tables
imageio
vispy
pyglet==1.5.28
tensorboard
scipy
trimesh
e2cnn
scikit-learn
scikit-image
tqdm
py3_wget
roma
loguru
timm
omegaconf
poselib
lightning==2.0.0 # from EDM
flow_vis # for UFM
h5py
# The following editable installs are handled in install.sh
# since pyproject.toml does not support editable installs
# -e ./matching/third_party/UFM/UniCeption
# -e ./matching/third_party/UFM
